# Project exclude paths
server/node_modules/
.idea/
client/Game/bin/
client/GXPEngine/bin/
client/Game/obj/
client/GXPEngine/obj/
client/packages/
client/.idea/
client/.vs/
client/.idea
server/test_client.js